{% extends "main/layoute.html" %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
    <h1> {{caption}}. Игра The Legend of Zelda: Echoes of Wisdom (Switch, RUS) </h1>

<p>● Игра The Legend of Zelda: Echoes of Wisdom.</p>

<p>● Язык: Русский.</p>

<p>● Жанр: Приключенческая игра (Action-Adventure).</p>

<p>● Кол-во игроков: Одиночная игра.</p>

<p>● Дозагрузка: Не требуется.</p>

<p>● Совместимые платформы: Nintendo Switch \ Nintendo Switch OLED \ Nintendo Switch Lite.</p>


{% endblock %}

